{% if data %}
                <!-- begin breadcrumbs -->
                <section class="breadcrumbs">
                  <div class="container">
                    <ul class="breadcrumb">
                      {% for key,breadcrumb in data %}
                        {% if key + 1 != data | length %}
                        <li><a href="{{breadcrumb.url}}">{{breadcrumb.title}}</a></li>
                          <li>/</li>
                        {% else %}
                        <li class="active">{{breadcrumb.title}}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                </section>
                <!-- end breadcrumbs -->
{% endif %}