          <a class="cart fl-r" href="{{url('checkout')}}">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        <span class="counts" id="global_cart_counter" data-value="{{count}}">{{count}}</span>
                    </a>