{% if menu is defined and menu | length > 0 %}
    {% set current_url = app.request.get('_route') %} {# взять текущие название роутинга #}
    {% set current_params = app.request.query.all | app_unset('page') %} {# взять текущие параметры из обьекта Request #}

    <div class="menu">
        <ul class="main-menu">
            {% for m in menu %}
                {% if m.url is not empty %}
                    {# эта проверка сделана потому что если передаёшь в функцию url null вторым параметром = получаем ошибку, так что нужно сделать так чтобы был пустой массив если там null #}
                    {% set params = m.params ? m.params : [] %}
                    <li {% if current_url == m.url and current_params == params %}class="active"{% endif %}>
                        <a href="{{ url(m.url, params) }}">{{ m.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}