{% extends 'base.html.twig' %}
{% block body %}
    {% include('@HRApp/Home/partials/slider.html.twig') %}
    {% include('@HRApp/Home/partials/products.html.twig') %}
    <!-- main end -->
{% endblock %}