<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Hermes{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap -->
        <link href="{{ asset('js/lightbox/lightbox.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/swiper.min.css') }}" rel="stylesheet" >
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    {% endblock %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="index">
<!-- wrap begin -->
<div id="wrap">
    <div id="back-top">
        <button class="btn"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></button>
    </div>
    <!-- h-nav begin -->
    <section id="h-nav">
        <div class="container">
            <div class="block-auth fl-r">
                {% if app.user %}
                    <a href="{{url('profile')}}"><span>{{app.user.username}}</span></a>
                    <span class="separator">/</span>
                    <a href="{{ url('fos_user_security_logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url('fos_user_registration_register') }}">Registration</a>
                    <span class="separator">/</span>
                    <a href="{{ url('fos_user_security_login') }}">Log in</a>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- h-nav end -->

    <!-- header begin -->
    <header id="header">
        <div class="container">
            <a class="logo" href="/">
                HERMES
            </a>
            {{ include(':components:menu.html.twig') }}
            <div class="icon-menu">
                <div class="clearfix">
                    {{ render(controller('HRAppBundle:Cart:index')) }}
                    <a class="search fl-r" href="{{ url('search') }}">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>


                </div>

            </div>
        </div>
    </header>
    <!-- header end -->
    {% block body %}{% endblock %}
    <!-- contacnt-info begin -->
    <section id="contact-info">
        <div class="container">
            <div class="our-contacts">
                <div class="logo">
                    HERMES
                </div>
                <div class="phrase">
                    Hermes is a premium eCommerce theme with advanced admin module.
                </div>

                <ul class="icon-infos">
                    <li><i class="fa fa-phone" aria-hidden="true"></i> Telephone: +123456789</li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> Email: test@mail.ru</li>
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i> 8:00 - 19:00, Monday - Saturday, Sunday -
                        closed
                    </li>
                </ul>

                <div class="actions">
                    <button class="btn-buy">BY THIS THEME</button>
                </div>
            </div>
            <div class="contact-links">
                <div class="head-block">
                    Information
                </div>
                <div class="dev-line"></div>

                <ul class="links">
                    <li class="active"><a href="#">About us</a></li>
                    <li><a href="#">Shipping & Returns</a></li>
                    <li><a href="#">Privacy Notice</a></li>
                    <li><a href="#">Conditions of Use</a></li>
                    <li><a href="#">RSS</a></li>
                </ul>
            </div>
            <div class="contact-links">
                <div class="head-block">
                    Service
                </div>
                <div class="dev-line"></div>

                <ul class="links">
                    <li class="active"><a href="#">About us</a></li>
                    <li><a href="#">Shipping & Returns</a></li>
                    <li><a href="#">Privacy Notice</a></li>
                    <li><a href="#">Conditions of Use</a></li>
                    <li><a href="#">RSS</a></li>
                </ul>
            </div>
            <div class="contact-links">
                <div class="head-block">
                    My account
                </div>
                <div class="dev-line"></div>

                <ul class="links">
                    <li class="active"><a href="#">About us</a></li>
                    <li><a href="#">Shipping & Returns</a></li>
                    <li><a href="#">Privacy Notice</a></li>
                    <li><a href="#">Conditions of Use</a></li>
                    <li><a href="#">RSS</a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- contacnt-info end -->

    <!-- footer begin -->
    <footer id="footer">
        <div class="container">
            <div class="copyrights fl-l">
                Copyright © 2016 by <a href="#">Pixel-Creative.</a> All Rights Reserved.
            </div>

            <div class="footer-menu fl-r">
                <ul class="menu">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">New Arrival</a></li>
                    <li><a href="#">Site map</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- footer end -->
</div>

<!-- wrap end -->

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/swiper/swiper.min.js') }}"></script>
    <script src="{{ asset('js/lightbox/lightbox.js') }}"></script>
    <script src="{{ asset('js/notify.min.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
</body>
</html>