{% extends 'base.html.twig' %}
{% block body %}
{% set total = 0 %}
 <main id="main">
      <!-- main-column begin -->
    <article id="main-column">
        <div class="container">

             <!-- begin breadcrumbs -->
          <section class="breadcrumbs">
            <div class="container">
              <ul class="breadcrumb">
                <li><a href="#">Home</a></li>

                <li>/</li>
                <li class="active">Shopping cart</li>
              </ul>
            </div>
          </section>
          <!-- end breadcrumbs -->



            <!-- begin shoping-cart -->
          <section class="shopping-cart">
            <div class="section-head">
              <h2>Shopping cart</h2>
              <div class="dev-line"></div>
            </div>
            <table class="cart-list" id="cart-list">
                <thead>
                  <tr>
                    <th>Product photo</th>
                    <th>Product name</th>
                    <th>description</th>
                    <th>price</th>
                    <th>quantity</th>
                    <th>total price</th>
                  </tr>
                </thead>

                <tbody>
                  {% for cart in products %}
                  {% set product = cart.product %}
                  <tr data-cart-id="{{cart.id}}" data-product-id="{{product.id}}" class="checkout-product">
                    <td>
                      <div class="product-photo">
                        <img src="{{ product.imageUrl }}" alt="photo">
                      </div>
                    </td>

                    <td>
                      <div class="product-name">
                        {{ product.title }}
                      </div>
                    </td>

                    <td>
                      <div class="product-desription">
                        {{ product.description }}
                      </div>
                    </td>

                    <td>
                      <div class="product-price" data-price="{{ product.discountPrice }}">
                        $ {{ product.discountPrice }}
                      </div>
                    </td>

                    <td>
                      <div class="product-quantity checkout-quantity">
                        <input type="text" name="quantity1" class="quantity checkout-quantity" value="{{cart.quantity}}">
                        <span class="plus checkout-quantity-modify" data-modify="+1"><i class="fa fa-angle-up" aria-hidden="true"></i></span>
                        <span data-modify="-1" class="minus checkout-quantity-modify"><i class="fa fa-angle-down" aria-hidden="true"></i></span>

                      </div>
                    </td>

                    <td>
                      <div class="product-total-price">
                          $ {{cart.quantity*product.discountPrice}}
                      </div>
                    </td>
                    <td>
                      <div class="actions">
                        <button class="remove-item checkout-delete"><i class="fa fa-times" aria-hidden="true"></i></button>
                      </div>
                    </td>
                  </tr>
                  {% set total = total + cart.quantity*product.discountPrice %}
                  {% endfor %}
                </tbody>
            </table>


            <div class="total-price-products">
              <div class="section-head">
                <h2>cart totals</h2>
                <div class="dev-line"></div>
              </div>

              <div class="item clearfix">
                <div class="label">Cart Totals</div>
                <div id="all-total">$ {{total}}</div>
              </div>
            </div>


            <div class="cart-actions">
              <a href="{{url('checkout_ready') }}">
              <button class="btn btn-proceed-checkout">Proceed to checkout</button>
              </a>
            </div>
          </section>
           <!-- end shoping-cart -->

      </div>
    </article>
          <!-- main-column end -->
 </main>
{% endblock %}