{% extends 'base.html.twig' %}
{% block body %}
{% set total = 0 %}
 <main id="main" class="login">
    <article id="main-column">
    <div class="container">
        <div class="login-center">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Submit"/>
            {{ form_end(form) }}
        </div>
    </div>
    </article>
 </main>

{% endblock %}