{% extends 'base.html.twig' %}
{% block body %}

<main id="main">
    <article id="main-column">
        <div class="container">
        {% for flash_message in app.session.flashBag.get('thankyou') %}
            <div class="flash-notice">
                {{ flash_message }}
            </div>
        {% endfor %}
        </div>
    </article>
 </main>


{% endblock %}