{% extends 'base.html.twig' %}
{% block body %}
<!-- main begin -->
      <main id="main">
      <!-- main-column begin -->
          <article id="main-column">
              <div class="container">

              	<div style="min-height:1px;float:left;width:40%;">
                  <div class="login">
              		  {{ form_start(form) }}
              		  	{{ form_errors(form) }}
		                {{ form_widget(form) }}
		                <input type="submit" value="Submit"/>
		              {{ form_end(form) }}
                  </div>
              	</div>
              	{% if last_order %}
              	{% set total = 0 %}
              	<div style="min-height:1px;float:left;width:60%;">
              		<h2>Your History</h2>
              		<div>Last order #{{last_order.id}}</div>
                  <table border="1" style="text-align:center;width:100%;">
                      <thead>
                        <tr>
                          <th>Product photo</th>
                          <th>Product name</th>
                          <th>description</th>
                          <th>quantity</th>
                          <th>price</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for order_product in last_order.products %}
                        	{% set product = order_product.product %}
                        <tr class="checkout-product">
                          <td>
                            <a target="_blank" class="product-photo" href="{{url('catalog_product', {product_id: product.id})}}">
                              <img src="{{ product.imageUrl | imagine_filter('product_history')}}" alt="photo">
                            </a>
                          </td>

                          <td>
                            {{ order_product.productTitle }}
                          </td>

                          <td>
                            {{ product.description }}
                          </td>

                          <td>
                          	{{ order_product.productQuantity }}
                          </td>
                          <td>
                            $ {{ order_product.productPrice }}
                          </td>
                        </tr>
                   		{% set total = total + order_product.productPrice*order_product.productQuantity %}
                        {% endfor %}

                        <tr>
                          <td colspan="4">
                            TOTAL
                          </td>
                          <td colspan="1">
                            $ {{total}}
                          </td>
                        </tr>
                      </tbody>
                  </table>
              	</div>
                {% endif %}

                <div style="min-height:1px;float:right;width:60%;">
                  <h2>Your Favourites</h2>
                  {% if favourites %}
                    {% for fav in favourites %}
                      {% set product = fav.product %}
                      <div>You marked as favourite <a target="_blank" href="{{url('catalog_product', {product_id: product.id})}}">{{product.title}}</a> at {{fav.createdAt | date('Y-m-d H:i:s')}}</div>
                     
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
          
          </article>
      </main>
{%endblock %}