{% extends 'base.html.twig' %}
{% block body %}
 <main id="main" class="login">
    <!-- main-column begin -->
    <article id="main-column">
        <div class="container">
              <div class="login-center">
                    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
                  <a style="float:left;width:100%;" href="{{ path('fos_user_security_login') }}">Sign in</a>
              </div>
        </div>
    </article>
</main>
{% endblock body %}