{% extends 'base.html.twig' %}
{% block body %}
    <!-- main begin -->
    <main id="main">
    	{{breadcrumbs.render() | raw}}
        <!-- main-column begin -->
        <article id="main-column">
            <div class="container">
                About US : SkillUp Group #1
            </div>
        </article>
    </main>
{% endblock %}