<table>
	<thead>
		<tr>
			<th>id</th>
			<th>email</th>
			<th>phone</th>
			<th>name</th>
			<th>address</th>
			<th>comment</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{order.id}}</td>
			<td>{{order.email}}</td>
			<td>{{order.phone}}</td>
			<td>{{order.firstName}} {{order.lastName}}</td>
			<td>{{order.address}}</td>
			<td>{{order.comment}}</td>
		</tr>
	</tbody>
</table>