    {% if products is defined and products | length > 0 %}
    <main id="main">
        <!-- main-column begin -->
        <article id="main-column">
            <div class="container">
                <!-- product-list begin -->
                <section class="product-list">

                    <div class= "section-head" >
                        <h2>our Products</h2>
                        <p class="small">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>

                    <div class="category-list clearfix">
                        <ul class="list">
                            <li class="active"><a href="#">All</a></li>
                            {% if categories is defined and categories | length > 0 %}
                                {% for category in categories %}
                                    <li><a href="#">{{ category.name }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <div class="row">
                        {% for product in products %}
                            {% include('@HRApp/Product/product.html.twig') %}
                        {% endfor %}
                    </div>
                </section>
            </div>
        </article>
        <!-- main-column end -->
    </main>
{% endif %}