{% if slides is defined and slides | length > 0 %}
<!-- main-banner begin -->
<section id="main-banner">
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for slide in slides %}
                <div class="swiper-slide" style="background:url('{{ slide.imageUrl }}') no-repeat 0 0 transparent;background-size:100% 100%;">
                    <div class="container">

                        <div class="block1">

                            <h3>{{ slide.title | raw }}</h3>

                            <p class="small">{{ slide.subtitle | raw }}</p>
                            <a href="{{ slide.url }}" class="btn">view now</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
        <div class="swiper-button-prev"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></div>
    </div>
</section>
<!-- main-banner end -->
{% endif %}