{% extends 'base.html.twig' %}
{% block body %}
    <!-- main begin -->
    <main id="main">
        <!-- main-column begin -->
        <article id="main-column">
            <div class="container">

                {{breadcrumbs.render() | raw }}

                
                <section class="category-description">

                    <div class="thumb no-img" >
                        {{breadcrumbs.render() | raw }}
                        <img src="uploads/banar/2/1.jpg" alt="Картинка">
                    </div>
                </section>
                

                {% if products is defined and products | length > 0 %}
                    <section class="sortBar">
                        <p class="results-showing"><span>Showing 1-{{ limit }} of {{ count }} results</span></p>
                    </section>

                    <!-- product-list begin -->
                    <section class="product-list">
                        <div class="row">
                            {% for product in products %}
                                {% include('@HRApp/Product/product.html.twig') %}
                            {% endfor %}
                        </div>
                    </section>
                    {% set current_params = app.request.query.all %}

                    {% if pages is defined and pages > 0 %}
                        {% set current_route = app.request.get('_route') %}
                        <div class="navBarBottom clearfix">
                            <div class="paginator fl-l">
                                <ul class="pagination">
                                    {% for p in range(1, pages) %}
                                        {% set page_params = current_params|merge({'page': p}) %}
                                        <li class="{% if page == p %}active{% endif %}">
                                            <a href="{{url(current_route, page_params)}}">{{ p }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <p class="results-showing fl-r"><span>Showing 1-{{ limit }} of {{ count }} results</span>
                            </p>
                        </div>
                    {% endif %}
                {% else %}
                    Products not found
                {% endif %}
            </div>
        </article>
        <!-- main-column end -->
    </main>
{% endblock %}