{% extends 'base.html.twig' %}

{% block body %}

      <!-- main begin -->
      <main id="main">

      <!-- main-column begin -->

          <article id="main-column">
              <div class="container">

              {{ breadcrumbs.render() | raw }}

              <!-- begin product_details -->
              <section class="product_details single-product">
                 <!-- begin thumb -->
                <div class="thumb fl-l">
                    {% if product.image %}

                    <img src="{{product.imageUrl | imagine_filter('product_details')}}"/> 
                  {% else %}
                         <img src="{{ asset('img/products/no-img.png') }}"/>


                  {% endif %}

                </div>
                 <!-- end thumb -->


                 <!-- begin charachteristic -->
                <div class="charachteristic fl-r">
                  <div class="product-name">{{product.title | raw}}</div>
                  <div class="dev-line"></div>

                  <div class="short-descr">
                    {{product.description | raw}}
                  </div>

                  <div class="price">
                    <span class="current-price">$ {{ product.discountPrice }}</span>
                   {% if product.discount %}
                     <span class="old-price">$ {{ product.price }}</span>
                   {% endif %}
                  </div>

                  <div class="dev-line-long"></div>

                  

                  <div class="options">
                      <div class="head-block">
                      Options
                    </div>

                    <div class="dev-line"></div>
                    
                     <div action="" class="form-product" method="post">
                       <div class="form-group fl-l">
                         <label for="quanty">Quanty:</label>
                         <div class="select">
                             <select name="quanty" id="product-quanty" class="product-quanty" data-price="{{ product.discountPrice }}">
                             {% for i in range(1, 50) %}
                              <option value="{{ i }}">{{ i }}</option>
                             {% endfor %}
                           </select>
                           <span class="arrow-select"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                         </div>
                         

                       </div>

                       <div class="price-total fl-r" id="total_product-price">
                         $ {{ product.discountPrice }}
                       </div>

                       <div class="clearfix"></div>

                       <div class="form-group">
                         <button data-product-id="{{ product.id }}"  name="addtocart" class="btn btn-addtocart add-to-cart">ADD TO CART</button>
                       </div>
                     </div>
                  </div>


                </div>
                <!-- end charachteristic -->
                <div class="clearfix"></div>

                <!-- begin description-product -->
                <div class="descr">
                  <div class="head-block">
                    Description
                  </div>

                  <div class="dev-line"></div>

                  <div class="text">

                     {{product.description | raw}}
                  </div>
                </div>

                <!-- end description-product -->
              </section>  
              <!-- end product_details -->

                <!-- related-product begin -->
              {% if related is defined and related | length %}
              <section class="related-products">
               <div class="head-block">
                    related products
                  </div>

                  <div class="dev-line"></div>

                  <!-- product-list begin -->
                <section class="product-list">

                  <div class="row">
                    {% for product in related %}
                      {% include('@HRApp/Product/product.html.twig') %}
                    {% endfor %}
                  </div>

                </section>
               <!-- product-list end -->
              </section>
              {% endif %}
                 <!-- related-product end -->
            </div>
          </article>
          <!-- main-column end -->
      </main>
       <!-- main end -->
{% endblock %}  