                            <div class="item single-product" data-product-id="{{ product.id }}">

                                <div class="thumb {% if product.image is empty %}no-img{%endif%}">
                                    <div class="shares">
                                        <span class="new">Sale</span>
                                    </div>
                                    <a class="quick-view" href="{{url('catalog_product', {product_id: product.id} )}}">
                                        <button class="btn">See More...</button>
                                    </a>
                                    {% if product.image %}
                                    <img src="{{product.imageUrl | imagine_filter('product')}}"> 
                                {% endif %}
                                </div>
                                <div class="name">
                                    {{ product.title }}
                                </div>
                                <div class="price">
                                    <span class="current-price"> ${{ product.discountPrice }}</span>
                                    {% if product.discount %}
                                     <span class="old-price">${{ product.price }}</span>
                                    {% endif %}
                                </div>

                                <div class="actions clearfix">
                                    <input type="hidden" class="product-quanty" value="1"/>
                                    <button class="btn btn-buy fl-l add-to-cart" data-product-id="{{ product.id }}"><i class="fa fa-plus" aria-hidden="true"></i> ADD
                                        TO
                                        CART
                                    </button>
                                    <button class="btn btn-addtowishlist fl-r {% if product.id in favourites %}active{%endif%}"><i class="fa fa-heart"
                                                                                  aria-hidden="true"></i></button>
                                                                                  <a href="{{product.imageUrl}}" data-lightbox="product-{{product.id}}">

                                    <button class="btn btn-addtocompare fl-r"><i class="fa fa-compress"
                                                                                 aria-hidden="true"></i></button>

                                                                                 </a>
                                </div>


                            </div>