{% extends 'base.html.twig' %}
{% block body %}
    <!-- main begin -->
    <main id="main" class="search-section">
        <!-- main-column begin -->
        <article id="main-column">
            <div class="container">
                <!-- begin breadcrumbs -->
                <section class="breadcrumbs">
                    <div class="container">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>/</li>
                            <li><span>Search: <b>{{ search }}</b></span></li>
                        </ul>
                    </div>
                </section>
                <!-- end breadcrumbs -->
                <div class="center">
                    <div class="search-outer">
                        <form action="" method="get">
                            <input name="q" class="search" placeholder="Search product name...">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
                {% if products is defined and products | length > 0 %}
                    <!-- product-list begin -->
                    <section class="product-list">
                        <div class="row">
                            {% for key,product in products %}
                                {% include('@HRApp/Product/product.html.twig') %}
                            {% endfor %}
                        </div>
                    </section>
                    {% if pages is defined and pages > 0 %}
                        <div class="navBarBottom clearfix">
                            <div class="paginator fl-l">
                                <ul class="pagination">
                                    {% for p in range(1, pages) %}
                                        <li class="{% if page == p %}active{% endif %}">
                                            <a href="?page={{ p }}">{{ p }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            </p>
                        </div>
                    {% endif %}
                {% else %}
                    Products not found
                {% endif %}
            </div>
        </article>
        <!-- main-column end -->
    </main>
{% endblock %}